@model QuizApp.Models.Quiz

<table>
    <thead>
        <tr>
            <th>Quiz ID</th>
            <th>Quiz Name</th>
            <th>Quiz Type</th>
            <th>Time Limit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.QuizID</td>
            <td>@Model.QuizName</td>
            <td>@Model.QuizType</td>
            <td>@Model.TimeLimit</td>
        </tr>
    </tbody>
</table>
